---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
AlignConsecutiveAssignments: false
SortIncludes: CaseInsensitive
AlwaysBreakTemplateDeclarations: Yes
...

